---
import { ACTION_ERROR_CODES } from 'astro:actions';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About MSLF"
	description="MSLF History"
	pubDate={new Date('July 14 2025')}
>
	<p>
		The Morrisville Student Loan Fund (MSLF) was originally established in 1954 by the Parent Teacher Association of 
		the Morrisville, Pennsylvania school district as a non-profit organization. Today it operates as an independent 
		organization providing interest free loans and grants each year to graduates of Morrisville High School who are 
		pursuing post-secondary education (for example in colleges or trade schools).  The funds to support the loans and 
		grants are raised by the MSLF through donations from individuals and businesses,  and through fund-raising events 
		such as the annual Thanksgiving Day Breakfast.
	</p>
	<p>
		The role of the MSLF is to bridge the gap between the resources of the students and their higher education 
		financial needs.  Amounts of loans and grants awarded to individual graduates are based on demonstrated need and a 
		confidential application process. Administration of the fund is the responsibility of the Board of Directors, 
		which consists of representatives from the school district, business, professional sector, and the community at 
		large.
	</p>

</Layout>
