---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>About MSLF</h1>
			<p>
				WELCOME to the Morrisville Student Loan Fund website (MSLF.info). Group of graduate students. We offer 
				help to support your college, trade school or other post-secondary education goals, whether you are a 
				student attending Morrisville High School or a Morrisville PA resident attending the Bucks County 
				Technical High School. For more than 50 years MSLF has helped Morrisville students fund their career 
				dreams by providing interest-free loans. In the last few years we have also begun to offer grants as well 
				as loans in order to make your higher education more affordable.
			<p>
				HOW MUCH support can you expect to receive if your request for a loan or grant is approved?  We base our 
				decisions on a variety of factors, including your academic record, your involvement in service and school/
				community activities and need. Typically loans and grants range from $500 to $1,000. If you receive a loan 
				or grant and make good progress at your chosen college or trade school, you can apply for additional 
				assistance each year until you complete your program of study.
			</p>
			<p>TO APPLY for an MSLF loan or grant, click here, download and print the application form. MSLF student loan 
				Application forms are also available at the Morrisville High School guidance office. Application 
				information is confidential and shared only with MSLF board members.</p>
			<ul>

		</main>
		<Footer />
	</body>
</html>
